/*base*/
body {
  background: #fff;
}
.hr-container {
  width: 1500px;
  margin: 20px auto;
}
.hr-container .hr-wrap {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
hr {
  background-color: rgb(209, 209, 209);
}
